/* @import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  font-family: "Hind Siliguri", sans-serif;
} */

main {
  @apply w-full max-w-6xl mx-auto px-2;
}

.hero {
  background-image: url("../../public/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* 
.career {
  background-image: url("../../public/coursedbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} */

marquee {
  marquee-speed: fast;
}
